@media screen and (max-width: 630px) {
  .main__image{
    width: 429px;
    height: 104px;
  }
}

@media screen and (max-width: 320px) {
  .main__image{
    width: 250px;
    height: 47px;
    margin-bottom: 17px;
  }
}
