.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 270px;
}

@media screen and (max-width: 425px) {
  .footer__container{
    order: 2;
    margin-bottom: 28px;
  }
}
