.projects__project{
  position: relative;
  display: flex;
  height: 420px;
}

@media screen and (max-width: 1092px) {
  .projects__project{
    margin-bottom: 51px;
  }
  .projects__project:last-child{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .projects__project{
    height: 337px;
  }
}
