@import url(./__button/poster__button.css);

.poster{
  width: 100%;
  background: #F9E7D9;
  padding-top: 51px;
  padding-bottom: 51px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .poster{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
