.page-projects__button{
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #fa8e5a;
}

.page-projects__button:hover{
  background: #fa8e5a;
}

.page-projects__button_right{
  align-self: flex-end;
}
